.bar-wrapper {

}

.bar-wrapper .bar-container {
	float: left;
	font-size: 12px;
}
.bar-wrapper .bar-container .bar {
	height: 20px;
	width: 100%;
}
.bar-wrapper .bar-container:nth-child(1) .bar {
	background-color: #159511;
}
.bar-wrapper .bar-container:nth-child(2) .bar {
	background-color: #7A419C;
}
.symbol {
	margin-bottom: 40px;
}
br.clear {
	clear: both;
}